.bgcol1{
    background-color:#0D1923;
}
.head{
    padding-left:10px;
    padding-top:30px;
}

.time{
    padding-top:10px;
    font-size:30px;
    color:white;
    font-family:'Times New Roman', Times, serif;
    text-align:left;
    margin-left:10px;                                 /*how to align the text 'timematorforMac' wrt to the picture*/
}
.formac{
    padding-top:10px;
    font-size:30px;
    color:rgb(38, 38, 112);
    font-family:'Times New Roman', Times, serif;
    text-align:left;
    
}
input[type=submit1],
select{
    margin-top:10px;
    margin-left:770px;
    text-align:center;
    color:rgb(38, 38, 112);
    font-family:'Times New Roman', Times, serif;
    font-size:27px;
    border:none;
    background-color:transparent;
    border-color:#0D1923;
    width:8%;
    cursor:pointer;
}
input[type=button1],
select{
    padding-top:10px;
    padding-bottom:10px;
    padding-left:15px;                            
    padding-right:15px; 
    margin-left:12px;                           
    background-color:transparent;
    color:white;
    font-family:'Times New Roman', Times, serif;
    font-size:27px;
    width:10%;
    text-align:center;
    border-style:solid;
    border-color:rgb(148, 142, 233);
    border-width:2px;
    border-radius:2px;
    cursor:pointer;


}
input[type=submit1]:hover{
    color:white;
    font-weight:lighter;
    text-decoration:underline;

}
input[type=button1]:hover{
    border-color:gray;
}
.block1{
    padding-top:50px;
    padding-bottom:10px;
}
.auto{
    padding:50px;
    margin-top:1%;  
    font-size:70px;
    color:white;
    font-family:'Times New Roman', Times, serif;
    text-align:center;
}
.for{
    margin-top:1%;
    font-size:70px;
    color:#1EE8A5;
    font-weight:600;
    font-family:'Times New Roman', Times, serif;
    text-align:center;
}
input[type=submit],
select{
    padding: 10px 20px;
    background-color:#F60053;
    color:white;
    font-family:'Times New Roman', Times, serif;
    font-size:27px;
    width:16%;
    font-weight:600;
    margin-top:8px;
    margin-bottom:8px;
    margin-left:650px;
    text-align:center;
    border-color:rgb(224, 48, 84);
    border-radius:4px;
    cursor:pointer;
}
input[type=button],
select{
    padding:10px 20px;
    background-color:transparent;
    color:white;
    font-family:'Times New Roman', Times, serif;
    font-size:27px;
    width:11%;
    font-weight:600;
    margin-top:8px;
    margin-bottom:8px;
    margin-left:30px;
    text-align:center;
    border-style:solid;
    border-color:rgba(207, 252, 255, 0.3);
    border-width:2px;
    border-radius:2px;
    cursor:pointer;
}
input[type=submit]:hover{
    background-color:rgb(236, 59, 89);
    color:white;
}
input[type=button]:hover{
    border-color:gray;
}
.picture{
    padding-top:30px;
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:90%;
}
.bgcol2{
    background-color:#081217;
}
.bolt{
    padding-left:250px;                              /*align the text such that it is in the middle of the picture and in the same line*/
    padding-top:150px;
}
.track{
    color:rgb(134, 226, 28);
    font-size:35px;
    font-family:'Times New Roman', Times, serif;
    /*margin-top:20px;*/
}
.how{
    color:white;
    font-family:'Times New Roman', Times, serif;
    font-size:80px;
    padding-left:342px;
   
    font-weight:bold;
}
.tutorial{
    padding-top:50px;
    display:block;
    padding-left:350px;

    width:50%;

}
/*.row:after{
    content:"";
    display:table;
    clear:both;
}*/
.row{
    display:flex;
}
.column{
    padding-left:350px;
    width:22%;
    }
.column1{
    padding-left:75px;                                    
    width:22%;
}
.box1{
    color:white;
    font-size:20px;
    font-family:'Times New Roman', Times, serif;
    padding-top:60px;
}
.box2{
    color:gray;
    font-size:19px;
    font-family:'Times New Roman', Times, serif;
}
.bgcol3{
    background-color:black;
    
}
.green-strip{
    padding-left:350px;
    padding-top:70px;
}
.content{
    color:white;
}
.see{
    padding-left:350px;
    color:white;
    font-weight:bold;
    font-size:60px;
    font-family:'Times New Roman', Times, serif;
    line-height:80%;
    display:inline-block;
}
.design{
    padding-left:400px;
    color:white;
    padding-top:70px;
    font-size:35px;
    font-family:'Times New Roman', Times, serif;
    font-weight:bolder;
}
.design-content{
    color:gray;
    font-size:20px;
    font-family:'Times New Roman', Times, serif;
    padding-right:350px;
    padding-left:100px;
}
.developer{
    padding-left:350px;
    color:gray;
    padding-top:50px;
    font-size:35px;
    font-family:'Times New Roman', Times, serif;
    font-weight:bolder;
}
.developer:hover{
    color:rgb(97, 95, 95);
}
.developer-content{
    color:white;
    font-weight:bold;
    font-size:20px;
    padding-left:100px;
}
.professional{
    padding-left:270px;
    color:gray;
    padding-top:50px;
    font-size:35px;
    font-family:'Times New Roman', Times, serif;
    font-weight:bolder;
}
.professional:hover{
    color:rgb(97, 95, 95);
}

ul#menu li{
    display:inline;
}
.left-shift{
    padding-left:50px;
}
.space{
    padding-left:60px;
    width:300px;
    height:300px;
}
.many{
    color:gray;
    font-size:20px;
    font-family:'Times New Roman', Times, serif;
    padding-left:1300px;
    padding-bottom:100px;
}
.focus{
    display:inline-block;
    color:white;
    font-size:40px;
    padding-left:500px;
    font-family:'Times New Roman', Times, serif;
    margin-top:120px;
}
.let{
    color:white;
    font-size:40px;
    font-family:'Times New Roman', Times, serif;
    padding-left:250px;
}
.every{
    color:white;
    font-size:40px;
    padding-left:522px;
    font-family:'Times New Roman', Times, serif;
}
.starttrial{
    color:rgb(12, 166, 172);
    font-size:55px;
    font-family:'Times New Roman', Times, serif;
    padding-left:410px;
    font-weight:bold;
    line-height:200%;
}
.buttontitle{
    padding: 10px 20px;
    background-color:#F60053;
    color:white;
    font-family:'Times New Roman', Times, serif;
    font-size:27px;
    font-weight:600;
    width:16%;
    margin-left:150px;
    text-align:center;
    border-color:rgb(224, 48, 84);
    border-radius:4px;
    text-decoration: none;
    cursor:pointer;
}
.buttontitle:hover{
    background-color:rgb(236, 59, 89);
    color:white;
}

.freetoday{
    color:rgb(12, 166, 172);
    font-size:55px;
    font-family:'Times New Roman', Times, serif;
    padding-left:440px;
    font-weight:bold;
    line-height:8%;   
    display:inline-block;
    margin-bottom:100px;                                                       
}
.macos{
    color:gray;
    font-size:18px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-left:94px;
    margin-left:60px;
    display:inline-block;
    margin-bottom:100px;
}
.end{
    margin-top:0px;
    margin-bottom:0px;
    width:0px;
    border-top: 1px solid gray;
}
.review{
    display:inline-block;
    font-size:40px;
    color:#77ED00;
    font-weight:600;
    font-family:'Times New Roman', Times, serif;
    padding-left:300px;;
    margin-top:100px;
}
.control{
    color:white;
    font-size:60px;
    padding-left:300px;
    font-weight:bolder;
    font-family:'Times New Roman', Times, serif;
    line-height:200%;
}
.strip{
    padding-left:300px;
}
.report-image{
    display:block;   
    margin-left:auto;
    margin-right:auto;
    width:50%;                                           
    padding-top:50px;
    padding-bottom:50px;
    padding-left:10px;
    padding-right:420px;
}
.img1{
    padding-left:650px;
}
.img2{
    padding-left:30px;
}
.head1{
    padding-left:730px;
    color:white;
    font-size:20px;
    font-family:'Times New Roman', Times, serif;
    font-weight:bold;
}
.head2{
    padding-left:170px;
    color:gray;
    font-size:20px;
    font-family:'Times New Roman', Times, serif;
    font-weight:bold;
}
.chart{
    padding-top:60px;
    text-align:center;
    color:white;
    font-size:25px;
    font-family:'Times New Roman', Times, serif;
}
.chart1{
    text-align:center;
    color:white;
    font-size:25px;
    font-family:'Times New Roman', Times, serif;
}
.chart2{
    text-align:center;
    color:white;
    font-size:25px;
    font-family:'Times New Roman', Times, serif;
    padding-bottom:100px;
}
.timer-image{
    padding-left:350px;
    padding-top:170px;
}
.time-keep{
    color:white;
    font-family:'Times New Roman', Times, serif;
    font-size:60px;
    font-weight:bolder;
    padding-left:350px;
}
.strip1{
    padding-left:350px;
    padding-top:10px;
}
.text-box{
    color:gray;
    font-size:20px;
    font-family:'Times New Roman', Times, serif;
    padding-left:350px;
    padding-top:60px;
    line-height:150%
}
.text-box1{
    color:gray;
    font-size:20px;
    font-family:'Times New Roman', Times, serif;
    padding-left:350px;
    line-height:150%;
}
.list{
    display:inline-block;
    color:white;
    font-size:50px;
    font-family:'Times New Roman', Times, serif;
    line-height:300%;
    padding-left:250px;
    padding-top:50px;
}
.billing-icon{
    padding-left:350px;
    padding-top:170px;
}
.hours{
    display:inline-block;
    color:white;
    font-family:'Times New Roman', Times, serif;
    font-size:50px;
    font-weight:bolder;
    padding-left:350px;
    padding-top:30px;
}
.blstrip{
    padding-left:350px;
    padding-top:10px;
}
.text-box2{
    color:gray;
    font-size:20px;
    font-family:'Times New Roman', Times, serif;
    padding-left:350px;
    padding-top:60px;
    line-height:150%
}
.text-box3{
    color:gray;
    font-size:20px;
    font-family:'Times New Roman', Times, serif;
    padding-left:350px;
    line-height:150%;
}
.billing1{
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:50%;
    padding-top:50px;
    padding-bottom:50px;
    padding-left:10px;
    padding-right:200px;
}
.strip2{
    padding-top:150px;
    padding-left:350px;
}
.flexible{
    color:white;
    font-size:50px;
    font-family:'Times New Roman', Times, serif;
    font-weight:bolder;
    padding-top:20px;
    padding-left:350px;
}
.project-content{
    color:gray;
    font-size:25px;
    font-family:'Times New Roman', Times, serif;
    padding-left:350px;
    padding-right:850px;
    padding-top:30px;
    position: relative;
}
.app{
    padding-right:150px;
    position:relative;
    left:1000px;
    top:-320px;
    display:inline-block;
    margin-bottom:0px;                                        /*not working*/
    border-radius:3px;
}
.row-menu{
    display:flex;
}
.img-column{
    padding:250px 300px;
}
.text-column{
    display:block;
    padding-right:100px; 
}
.strip3{
    padding-right:200px;
    padding-top:130px;
}
.menu-bar{
    padding-top:20px;
    padding-right:100px;
    color:white;
    font-size:40px;
    font-family:'Times New Roman', Times, serif;
    font-weight:bolder;
}
.menu-text{
    color:gray;
    font-size:20px;
    padding-top:30px;
    padding-right:100px;
    line-height:150%;
}
.row-import{
    display:flex;
}
.col-import{
    display:block;
}
.strip4{
    padding-top:100px;
    padding-left:350px;
}
.import{
    padding-left:350px;
    color:white;
    font-size:50px;
    font-family:'Times New Roman', Times, serif;
    font-weight:bolder;
    padding-top:30px;
}
.import-text{
    color:gray;
    font-size:20px;
    font-family:'Times New Roman', Times, serif;
    width:60%;
    padding-left:350px;
    padding-top:40px;
    letter-spacing:0.01em;
    word-spacing:3px;
}
.import-head{
    padding-top:35px;
    color:white;
    font-size:20px;
    font-weight:bolder;
    padding-left:350px;
    width:60%;
}
.img-shift{
    padding-left:310px;
}
.img-shift-1{
    padding-left:25px;
}
.img-import{
    padding-left:100px;
    padding-right:0px;
    padding-top:100px;
}
.file-text{
    padding-left:580px;
    padding-top:30px;
    color:gray;
    font-size:20px;
    font-family:'Times New Roman', Times, serif;
}
.row-icon{
    display:flex;
}
.col1{
    display:block;
}
.offline{
    padding-top:150px;
    padding-left:350px;
}
.offline-title{
    color:white;
    font-size:40px;
    font-weight:bolder;
    font-family:'Times New Roman', Times, serif;
    padding-top:50px;
    padding-left:350px;
}
.offline-text{
    color:gray;
    font-size:20px;
    font-family:'Times New Roman', Times, serif;
    padding-top:20px;
    padding-left:350px;
    width:40%;
    letter-spacing:0.01em;
    word-spacing:3px;
}
.privacy{
    padding-top:150px;
}
.privacy-title{
    color:white;
    font-size:40px;
    font-weight:bolder;
    font-family:'Times New Roman', Times, serif;
    padding-top:50px;
}
.privacy-text{
    color:gray;
    font-size:20px;
    font-family:'Times New Roman', Times, serif;
    padding-top:20px;
    letter-spacing:0.01em;
    word-spacing:3px;
    width:60%;
}
.row1-icon{
    display:flex;
}
.backup{
    padding-top:100px;
    padding-left:350px;
}
.backup-title{
    color:white;
    font-size:40px;
    font-weight:bolder;
    font-family:'Times New Roman', Times, serif;
    padding-top:50px;
    padding-left:350px;
}
.backup-text{
    color:gray;
    font-size:20px;
    font-family:'Times New Roman', Times, serif;
    padding-top:20px;
    padding-left:350px;
    width:40%;
    letter-spacing:0.01em;
    word-spacing:3px;
}
.ui{
    padding-top:100px;
}
.ui-title{
    color:white;
    font-size:40px;
    font-weight:bolder;
    font-family:'Times New Roman', Times, serif;
    padding-top:50px;
}
.ui-text{
    color:gray;
    font-size:20px;
    font-family:'Times New Roman', Times, serif;
    padding-top:20px;
    letter-spacing:0.01em;
    word-spacing:3px;
    width:60%;
}
.purchase-title{
    padding-top:10px;
    padding-left:350px;
    color:white;
    font-size:55px;
    font-family:'Times New Roman', Times, serif;
    font-weight:bolder;
}
.block-text{
    background-color:#0D1923;
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:50%;
    padding-top:40px;
    border-radius:5px;
    height:450px;
}
.row-block{
    display:flex;  
}
.app-icon{
    padding-top:20px;
    padding-left:100px;
}
.col2{
    display:block;
}
.col3{
    display:block;
}

.list-head{
    color:white;
    font-size:50px;
    font-family:'Times New Roman', Times, serif;
    font-weight:bolder;
    padding-top:40px;
    padding-left:80px;
}
li {
    list-style-image:url(/images/feature-checkmark.svg);
}
.list-text{
    display:inline-block;
    color:gray;
    font-size:30px;
    font-family:'Times New Roman', Times, serif;
    line-height:120%;
    padding-left:60px;
    line-height:120%;
    
}
.buy-button{
    background-color:#F60053;
    color:white;
    font-family:'Times New Roman', Times, serif;
    font-size:27px;
    font-weight:600;
    margin-left:450px;
    width:20%;
    text-align:center;
    border-color:rgb(224, 48, 84);
    border-radius:4px;
    text-decoration:none;
    cursor:pointer;
    padding-left:30px;
    padding-right:30px;
    padding-top:20px;
    padding-bottom:20px;
    margin-top:50px;
    margin-bottom:50px;
}
.buy-button:hover{
    background-color:rgb(236, 59, 89);
    color:white;
}
.bgcol4{
    background-color:whitesmoke;
}
.roadmap{
    display:inline-block;
    color:#00CB6D;
    font-size:40px;
    font-family:'Times New Roman', Times, serif;
    font-weight:bold;
    padding-left:350px;
    padding-top:100px;
}
.roadmap-head{
    color:black;
    font-size:60px;
    padding-left:350px;
    padding-top:20px;
    font-weight:bolder;
}
.roadmap-strip{
    padding-top:20px;
    padding-left:350px;
}
.list-items{
    padding-left:350px;
}
.list-item-1{
    color:gray;
    font-size:40px;
    text-decoration:line-through;
    padding-top:50px;
}
.list-item-2{
    color:#FF8300;
    font-size:40px;
    padding-top:50px;
    font-weight:600;
}
.list-item-3{
    color:black;
    font-size:40px;
    padding-top:50px;
}
.bgcol5{
    background-color:white;
}
.img-support{
    padding-top:100px;
    padding-left:350px;
}
.support-head{
    color:black;
    font-size:55px;
    padding-left:350px;
    padding-top:50px;
}
.support-text{
    color:gray;
    font-size:30px;
    padding-top:80px;
    padding-left:350px;
    width:42%;
    margin-bottom:80px;
}
.support-button{
    margin-left:350px;
    margin-bottom:100px;
    margin-top:20px;
    padding:10px 10px;
    background-color:transparent;
    color:black;
    font-size:30px;
    font-family:'Times New Roman', Times, serif;
    font-weight:600;
    width:10%;
    text-decoration:none;
    text-align:center;
    border-style:solid;
    border-width:3px;
    border-color:rgba(28, 47, 64, 0.5);
    border-radius:4px;
    display:inline-block;
    cursor:pointer;
}
.support-button:hover{
    border-color:rgb(41, 40, 40);
}
.row-contact{
    display:flex;
}
.studio-col{
    display:block;
}
.logo-img{
    padding-left:350px;
    padding-top:80px;
}
.studio-head{
    padding-left:350px;
    padding-top:40px;
    color: #9DF8FF;
    font-family:'Times New Roman', Times, serif;
    font-size:20px;
    font-weight:bolder;
    display:inline-block;
}
.studio-link{
    padding-left:350px;
    padding-top:15px;
    color:rgba(157, 248, 255, 0.6);
    font-family:'Times New Roman', Times, serif;
    font-size:20px;
    margin-bottom:10px;
    text-decoration:none;
    margin-bottom:20px;
}
.studio-link:hover{
    text-decoration:underline;
}
.links{
    padding-top:80px;
}
.link-prop{
    font-size:20px;
    color:rgba(157, 248, 255, 0.6);
    text-decoration:none;
    padding-left:250px;
}
.link-prop1{
    padding-top:20px;
    font-size:20px;
    color:rgba(157, 248, 255, 0.6);
    padding-left:250px;
    text-decoration:none;
}
.join{
    padding-top:80px;
    font-size:20px;
    color:rgba(157, 248, 255, 0.6);
    padding-left:250px;
    text-decoration:none;

}
.social-media{
    padding-top:20px;
    padding-left:280px;
}